
/*MARGIN PADDING SCRIPT********************/
.m-a-0 {
  margin: 0rem 0rem !important;
}

.m-t-0 {
  margin-top: 0rem !important;
}

.m-r-0 {
  margin-right: 0rem !important;
}

.m-b-0 {
  margin-bottom: 0rem !important;
}

.m-l-0 {
  margin-left: 0rem !important;
}

.m-x-0 {
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.m-y-0 {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}

.m-a-1 {
  margin: 1rem 1rem !important;
}

.m-t-1 {
  margin-top: 1rem !important;
}

.m-r-1 {
  margin-right: 1rem !important;
}

.m-b-1 {
  margin-bottom: 1rem !important;
}

.m-l-1 {
  margin-left: 1rem !important;
}

.m-x-1 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.m-y-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.m-a-2 {
  margin: 2rem 2rem !important;
}

.m-t-2 {
  margin-top: 2rem !important;
}

.m-r-2 {
  margin-right: 2rem !important;
}

.m-b-2 {
  margin-bottom: 2rem !important;
}

.m-l-2 {
  margin-left: 2rem !important;
}

.m-x-2 {
  margin-right: 2rem !important;
  margin-left: 2rem !important;
}

.m-y-2 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.m-a-3 {
  margin: 3rem 3rem !important;
}

.m-t-3 {
  margin-top: 3rem !important;
}

.m-r-3 {
  margin-right: 3rem !important;
}

.m-b-3 {
  margin-bottom: 3rem !important;
}

.m-l-3 {
  margin-left: 3rem !important;
}

.m-x-3 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

.m-y-3 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.p-a-0 {
  padding: 0rem 0rem !important;
}

.p-t-0 {
  padding-top: 0rem !important;
}

.p-r-0 {
  padding-right: 0rem !important;
}

.p-b-0 {
  padding-bottom: 0rem !important;
}

.p-l-0 {
  padding-left: 0rem !important;
}

.p-x-0 {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

.p-y-0 {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.p-a-1 {
  padding: 1rem 1rem !important;
}

.p-t-1 {
  padding-top: 1rem !important;
}

.p-r-1 {
  padding-right: 1rem !important;
}

.p-b-1 {
  padding-bottom: 1rem !important;
}

.p-l-1 {
  padding-left: 1rem !important;
}

.p-x-1 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.p-y-1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.p-a-2 {
  padding: 2rem 2rem !important;
}

.p-t-2 {
  padding-top: 2rem !important;
}

.p-r-2 {
  padding-right: 2rem !important;
}

.p-b-2 {
  padding-bottom: 2rem !important;
}

.p-l-2 {
  padding-left: 2rem !important;
}

.p-x-2 {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

.p-y-2 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.p-a-3 {
  padding: 3rem 3rem !important;
}

.p-t-3 {
  padding-top: 3rem !important;
}

.p-r-3 {
  padding-right: 3rem !important;
}

.p-b-3 {
  padding-bottom: 3rem !important;
}

.p-l-3 {
  padding-left: 3rem !important;
}

.p-x-3 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.p-y-3 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
/*MARGIN PADDING SCRIPT*******************END*/







body{
    padding-top: 50px;
}

div{
    margin-bottom: 100px;
}

table{
    margin-bottom: 100px;
}

hr{
    border: 0;
    height: 1px;
    background: #d0d0d0;
    background-image: linear-gradient(to right, #4a4a4a, #d0d0d0, #4a4a4a);
}

.fixed-top{
    padding-left: 60px;
    padding-right: 60px;
}

.btn-outline-success {
    color: #ffa700;
    background-image: none;
    background-color: transparent;
    border-color: #ffa700;
}



.container{
    padding-left: 0px;
    padding-right: 0px;
}


.top_space{
    height: 48px;
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}

.spacer{
    height:50px;
    background-color:#282828;
    background-size:16px 16px;
}

.wp{    
    background-image: url(wp.jpg);
    background-color: #292b2c;
}

.kopf{
    height: 200px;
   /* background-color: #bbdee5; */
    position: relative;
}

.kopf img{
    height: auto;
    width: 370px;
    position: absolute;
    bottom: 0;
}

h1{
    margin: auto auto;
    color:white;
}

.orange-text{
    color: #ffa700;
}

.footer{
    margin-top: -10px;
    background-color:#585858;
    
    color: white;
    border-radius: 5px 5px 0 0;
    
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#585858, #3e3e3e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#585858, #3e3e3e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#585858, #3e3e3e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#585858, #3e3e3e); /* Standard syntax */
}

.border{
    border-style:   solid;
    border-color: black;
    border-width: thin;
}

.block_navigation{
    background-color: #585858;
}

.block_navigation{
    padding: 20px;
}

.block_mid{
    background-color: #585858;
}

.block_low{
    background-color: #b4b4b4;
}

.block_bottom{
    background-color: #e2e2e2;
}

.block-bottom img-thumbnail{
    width: 50%;
}

.centered{
    margin: 0 auto;
}

.m-center{
    margin: 0 auto;
}

p{
    padding: 10px;
    margin: 20px auto;
}

hr{
    margin-top: auto;
    width: 80%;
}

figure{
    padding: 50px;
}

.input-group{
    padding: 5px;
}

.list-group{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
}

.list-group-item{
    background-color: #242424;
    color: white;
}

.list-group-item:hover{
    background-color:rgba(36, 36, 36, 0.9);
    color: rgb(239, 147, 0);
}



section p{
    margin: 0 auto;
    padding: 20px 50px;
}


.block_mid img, .block_low img, .block_bottom img{
    max-width: 100%;
    height: auto;
    
}

.btn-primary {
    min-width: 150px;
    width: auto;
    margin-bottom: 5px;
    background: #ffa700; /* Old browsers */
    background: -moz-linear-gradient(left, #ffa700 0%, #ffc456 50%, #e08a00 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffa700 0%,#ffc456 50%,#e08a00 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffa700 0%,#ffc456 50%,#e08a00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa700', endColorstr='#e08a00',GradientType=1 ); /* IE6-9 */
    border-color: transparent;
    color: black;
}



.img-thumbnail{
    background-color: rgba(255, 255, 255, 0.20);
    border-color: rgba(255, 255, 255, 0.20);
}

.block_bottom img{
}

@media (max-width: 991px) {
    p, figcaption{
        font-size: 2em;
    }
    .list-group-item{        
        font-size: 1.8em;
    }
    h1{
        font-size: 3.5em;
    }
    h2{
        font-size: 3em;
    }
    h3{
        font-size: 2.4em;
    }
    
    .navbar, .fixed-top{
        font-size: 2.4em;
    }
    
     .navbar-brand, .navbar-toggler{
        font-size:1.3em;    
    }
    .kopf{
        margin-top: 40px;
    }
}
